button {
  background-color: transparent;
  border: none;
  font-size: larger;
}

.lengthBoxContainer {
  background-color: #ffffff77;
  width: 25%;
  display: inline-block;
  padding: 5px;
  border-radius: 15px;
  margin: 0px 5px;
}

.segment-length {
  display: inline;
  margin: 0px 5px;
}
